.services-main-page {
  background: url(../../Images/service_bg.png);
  background-size: contain;
  background-position: center;
}

.services-container {
  text-align: center;
  padding-top: 15vh;
  color: white;
}

.services-header {
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  margin: -10px 0;
}

.hero-text {
  font-size: 20px;
  font-family: sans-serif;
}

.services-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
  margin: 5vh 0 8vh 0;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
  background: url(../../Images/service-card-bg.jpg);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 635px;
  padding: 3rem;

  border-radius: 50px;
  transition: transform 0.8s, box-shadow 0.8s;
}

.service-card:hover {
  transform: scale(1.02);
  box-shadow: 16px 16px 16px rgba(255, 255, 255, 0.08);
}

.service-icon {
  font-size: 20px;
  background-color: #1b1c1a;
  padding: 15px;
  border-radius: 50%;
}

.service-card-title {
  font-size: 35px;
}

.service-card li {
  margin: 5px;
}

.service-card-text {
  font-family: sans-serif;
  font-weight: 100;
}

.packages-container {
  background: url(../../Images/service-bg-inverted.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  border: 1px solid white;
}

.packages-header {
  font-size: 80px;
  color: #1b1c1a;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 10vh 0 -10px 0;
}

.packages-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
  margin: 5vh 0 15vh 0;
}

.package-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px 0;
  color: white;
  border-radius: 50px;
  background-color: #1b1c1a;
  padding: 3rem 4rem;
  height: 770px;
  width: 400px;
}

.package-card:first-child {
  background: url(../../Images/white-package.jpg);
  color: black;
}

.package-card:nth-child(2) {
  background: url(../../Images/blue-package.jpg);
  color: white;
}

.package-card:nth-child(2) > h2 {
  margin-bottom: 15px;
}

.package-card:nth-child(2) i {
  color: #1b1c1a;
  background-color: white;
}

.package-card:last-child {
  background: url(../../Images/green-package.jpg);
}

.package-card:last-child > h2 {
  margin-bottom: 15px;
}

.package-card:last-child i {
  color: #1b1c1a;
  background-color: white;
}

.package-card-title {
  font-size: 34px;
  margin: 20px 0 -10px 0;
  color: #cd1417;
  text-align: left;
}

.package-card-benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}

.first {
  margin-top: 20px;
}

.package-card-price {
  font-size: 20px;
  text-align: left;
}

.per-month {
  font-family: sans-serif;
}

.per-month-sub {
  font-family: sans-serif;
  font-size: 15px;
}

.package-card-benefit i {
  font-size: 15px;
  color: white;
  background-color: #1b1c1a;
  border-radius: 50%;
  padding: 5px;
}

.package-button {
  background-color: #cd1417;
  font-size: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 20px 0;
  transition: background-color 0.5s, color 0.5s;
}

.package-button:hover {
  background-color: white;
  color: #1b1c1a;
  border: 1px solid #1b1c1a;
}

@media screen and (max-width: 576px) {
  .services-main-page {
    margin-top: 10vh;
    border: 1px solid #1b1c1a;
  }

  .services-container {
    width: 100%;
    padding: 6px;
    border: 1px solid #1b1c1a;
  }

  .services-header {
    font-size: 60px;
  }

  .service-card {
    width: 350px;
  }

  .services-cards {
    flex-direction: column;
    gap: 50px 0;
  }

  .packages-header {
    font-size: 70px;
  }

  .packages-cards {
    flex-direction: column;
    gap: 50px 0;
  }

  .package-card {
    width: 350px;
  }

  .package-card-benefit span {
    font-size: 14px;
  }
}
