.main-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15vh 0 0 0;
}

.contactUs-title {
  text-transform: uppercase;
  color: white;
  font-size: 70px;
  margin: 30px 0;
}

.contactUs-text {
  color: white;
  font-weight: 400;
}

.contact-icons {
  color: white;
  margin: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  gap: 0 50px;
}

.contact-icon p {
  margin: 0;
  text-align: center;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  gap: 30px 0;
}

@media screen and (max-width: 576px) {
  .contact-icons {
    flex-direction: column;
    gap: 40px 0;
  }
  .contactUs-title {
    text-align: center;
  }
}
