.home {
  background-image: url("../../Images/Home_BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.home-container {
  position: absolute;
  right: 8%;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  border-radius: 20px;
}

.home-container h1 {
  font-size: 50px;
  margin: 0;
}

.home-container p {
  font-size: 20px;
}

.home-btn {
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
}

.home-btn:hover {
  background-color: white;
  color: black;
}

.why-us-container {
  background-image: url("../../Images/why-us.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 5rem 0;
}

.why-us-container img {
  width: 33%;
}

section {
  min-height: 80vh;
  width: 100%;
  padding: 20px;
  position: relative;
}

.why-us-title {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 3% 0;
}
.why-us {
  background: white;
  padding: 30px 0;
}

.why-us-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
  width: 50vw;
}

.why-us-card {
  width: 250px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 9px 10px 8px lightgray;
  z-index: 1;
}

.how-it-works {
  background: #424250;
  color: white;
  text-align: center;
}

.how-it-works h2 {
  font-size: 5rem;
  word-spacing: 15px;
}

.how-it-works > p {
  font-size: 1.5rem;
}

.how-it-works-container {
  padding: 30px 0;
}

.how-it-works-title-container {
  margin: 20px 0 40px 0;
}

.how-it-works-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "c1 a1"
    "a2 c2"
    "c3 a3";
  grid-row-gap: 40px;
  justify-items: center;
}

.hiw-1 {
  grid-area: c1;
}
.hiw-2 {
  grid-area: c2;
}
.hiw-3 {
  grid-area: c3;
}
.anim1 {
  grid-area: a1;
}
.anim2 {
  grid-area: a2;
}
.anim3 {
  grid-area: a3;
}

.how-it-works-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-animation-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  animation: circle 5s linear 0s infinite;
}

.how-it-works-animation-circle:nth-child(even) {
  width: 100px;
  height: 100px;
}

@keyframes circle {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.how-it-works-card {
  max-width: 600px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 45px;
}

.how-it-works-card .how-it-works-card-title {
  font-size: 4rem;
  margin: 10px 0;
}

.how-it-works-card .how-it-works-card-text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 576px) {
  .home {
    background: #424250;
  }
  .home-container {
    align-items: center;
    right: 0;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .home-btn {
    margin: 10px;
  }
  .why-us-cards {
    grid-template-columns: 1fr;
    width: 100%;
    background: white;
  }

  .how-it-works-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "c1" "a1" "c2" "a2" "c3" "a3";
  }

  .how-it-works-cards .how-it-works-animation {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .home {
    background: #424250;
  }

  .home-container {
    right: 0;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }

  .home-btn {
    font-size: 35px;
  }
  .why-us-cards {
    grid-template-rows: 2fr;
    width: 100%;
    background: white;
  }

  .how-it-works-cards {
    width: 100%;
  }
}
