.home {
  background-image: url("../../Images/Home_BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-us-container {
  background-image: url("../../Images/why-us.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.why-us-container img {
  width: 33%;
}

section {
  min-height: 80vh;
  width: 100%;
  padding: 20px;
  position: relative;
}

.why-us-title {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 3% 0;
}
.why-us {
  background: white;
  padding: 30px 0;
}

.why-us-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  justify-items: center;
  width: 50vw;
}

.why-us-card {
  width: 250px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .home {
    background: #424250;
  }
  .why-us-cards {
    grid-template-columns: 1fr;
    width: 100%;
    background: white;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .why-us-cards {
    grid-template-rows: 2fr;
    width: 100%;
    background: white;
  }
}
