.main-nav {
  background-color: rgba(27, 28, 26, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1rem;
  padding: 0.5%;
  position: sticky;
  top: 0;
}
.nav-container {
  z-index: 5;
  background-color: rgb(27, 28, 26);
  position: fixed;
  width: 100%;
  top: 0%;
  opacity: 0.9;
  transition: top 0.3s;
  z-index: 100;
}

.nav-image {
  flex: 1;
}
.nav-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-links-container {
  flex: 1;
}
.nav-links a:hover {
  color: #8c8b97;
}

.link-hover {
  font-size: larger;
  filter: drop-shadow(0 0 0.2rem white);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0.3rem 0.6rem;
}

.burger {
  display: none;
}

.menu-bar {
  display: none !important;
  font-size: 40px;
  color: white;
}

.menu-bar:hover {
  cursor: pointer;
}
.small-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 14.5%;
  margin-top: 5%;
}
.burger {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  list-style: none;
}
.burger-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
  width: 100%;
}

.burger-list-item:hover,
.burger-list-item a:hover {
  color: #8c8b97;
}
.burger a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.small-menu {
  width: 100vw;
  height: 100vh;
  background-color: #424250;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* .nav-image {
    flex: 2;
  }
  .nav-links-container {
    flex: 0.5;
  } */
  .main-nav {
    max-width: 500px;
  }
  .nav-links {
    display: none;
  }
  .menu-bar {
    display: block !important;
    margin-right: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .main-nav {
    max-width: 500px;
  }
  .nav-links {
    display: none;
  }
  .menu-bar {
    display: block !important;
    margin-right: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
