.footer-container {
  background-color: white;

  padding: 1rem;
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-list a:hover {
  color: #8c8b97;
}
.main-footer h3 {
  color: #424250;
  text-align: center;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-list a {
  text-decoration: none;
  color: #424250;
}

.break {
  color: #424250;
  width: 70px;
}

.footer-trademark {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424250;
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  margin: 1% 0%;
}
.social-media-container {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #424250;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .main-footer {
    flex-direction: column;
  }
  .icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}
