@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html {
  background-color: #1b1c1a;
}

.main-app {
  background-color: #1b1c1a;
  height: 100vh;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 576px) {
  body {
    background-color: #1b1c1a !important;
  }
}
